# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and Test

on:
  [push, pull_request]

jobs:
  # Check for Python 3.8 first. If this one fails,
  # there is no need to check other versions of Python
  build-python-38:
    uses: ./.github/workflows/python-action.yml
    with:
      python-version: "3.8"

  build-python-36:
    needs: build-python-38
    uses: ./.github/workflows/python-action.yml
    with:
      python-version: "3.6"

  build-python-37:
    needs: build-python-38
    uses: ./.github/workflows/python-action.yml
    with:
      python-version: "3.7"


  build-python-39:
    needs: build-python-38
    uses: ./.github/workflows/python-action.yml
    with:
      python-version: "3.9"

  build-python-310:
    needs: build-python-38
    uses: ./.github/workflows/python-action.yml
    with:
      python-version: "3.10"
